modules = ["nodejs-20"]

[rules]
[rules.formatter]
[rules.formatter.fileExtensions]
[rules.formatter.fileExtensions.".json"]
id = "module:nodejs-20/languageServer:typescript-language-server"

[nix]
packages = ["h", "src", "run"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 8080

[run]
command = "bash -c 'cd client && npm run dev & cd .. && npm run dev'"