modules = ["nodejs-20"]

[rules]
[rules.formatter]
[rules.formatter.fileExtensions]
[rules.formatter.fileExtensions.".json"]
id = "module:nodejs-20/languageServer:typescript-language-server"

[nix]
packages = ["h", "src", "run"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5173  # Puerto de Vite (frontend)
externalPort = 3000  # O cualquier número disponible